@model IEnumerable<Modelo.Models.OrdenViewModel>
@{
    /**/

    ViewBag.Title = "Empleados";
}

<br />
<h2>Ordenes</h2>
<hr />
<br />
<img src="~/Content/imagenes/logo.png" id="imgLogo" style="display:none;" />
<div class="container">
    <div class="table-responsive" id="table-orden">
        <table id="table-views" class="table table-striped table-bordered  text-nowrap" cellspacing="0">
            <thead>
                <tr>
                    <th>Número de Orden</th>
                    <th>Empleado encargado de la orden</th>
                    <th>Cliente</th>
                    <th>Fecha de la compra</th>
                    <th>Total a pagar</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.OrderID)</td>
                        <td>@Html.DisplayFor(model => item.Empleado)</td>
                        <td>@Html.DisplayFor(model => item.ContactName)</td>
                        <td>@Html.DisplayFor(model => item.OrderDate)</td>
                        <td>@Html.DisplayFor(model => item.Total)</td>
                        <td>
                            <a class="btn btn-info" onclick="OcultarTable(@item.OrderID);">
                                <span>Detalles</span>
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <dl id="Detalles-Orden" ></dl>

</div>
<script src="~/Scripts/OrdenScripts.js"></script>

